*,::before,::after{

    box-sizing: border-box;

}
a{
    text-decoration: none;
}
main{
    overflow-x: scroll;
    width: auto;
}
.main-padding{
    padding-left: 5rem;
    padding-right: 5rem;
}
.gap {
    gap: .3rem;
}
.main-gap {
    gap: 2rem;
    padding-bottom: 2.5rem;
}
.header {
    border: 1px solid #003cff;
    height: auto;
    background-color: #003cff;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    position:sticky;
    top: 0;
}
.bold {
    font-weight: bold;
}
.flex {
    display: flex;
}
.item-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;

}
.flex-wrap {
    flex-wrap: wrap;
}

.gap-1rem {
    gap: 1rem;
}
.justify-content {
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.pad-t-b {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.pad-r-l {
    padding-left: 1rem;
    padding-right: 1rem;
}
.white-color {
    color: #ffffff;

}

.border-bottom {
    border-bottom: 1px solid rgb(207, 207, 207);
}
.font-roboto{
    font-family: "Roboto", sans-serif;
}
.input-border {
    border: none;
}
.filter {
    filter: grayscale(100%);
    z-index: -1;
}


.center {
    justify-content: center;
    align-items: center;
}
homecontent {
    margin-top: 2rem;
    font-weight: bold;
}
.margin-left-auto{
    margin-left: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.flex-start {
    justify-content:flex-start;
}

.flex-end {
    justify-self:flex-end ;
}

.home-cont-txt {
    font-family: Roboto,sans-serif;
    font-size: 1.8rem;
    word-spacing: 5px;
}
.p-cont-txt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    word-spacing: 5px;
}
.radius {
    border-radius: 20px;
}
.homecontent {
    border: 1px solid black;
}
.name-input {
    border: 1px solid rgb(204, 204, 204);
    width: 15rem;
}


.none {
    display: none;
}


.ingredients {
    gap: .4rem;
    flex-wrap: wrap;
}
.pizza-img {
    height: 6rem;
    max-width: auto;
    border-radius:10px ;
}

.menu-list{
    width: auto;
    /* border: 1px solid black; */
    gap: 2rem;
    list-style: none;
    

    
}
.pizza-item{
    gap: 1rem;
    width: 35rem;
    padding-bottom:1.8rem;
    padding-top:.5rem;
    border-bottom: 1px solid #9a9999;
    

    
}
.Btn-cart{
    border: 1px solid #003cff;
    background-color: #003cff;
    color: white;
    height: 2rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;

}
.inc-dec-btn {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 1px solid #003cff;
    background-color: #003cff;
    color: white;

}
.width-auto {
    width: auto;
}
.width-100{
    width:100%;
}
.border {
    border: 1px solid red;
    /* width: auto; */
}

.cart-nav{
    border:1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: black;
    color: white;
    gap: 4rem;
}

.open-cart {
    margin-left: auto;
    justify-content: flex-end;
}
.price-options{
    margin-left: auto;
    align-self: flex-end;
    padding-right:.3rem ;

}
.cart-items {
    width: 100%;
}
.cart-main  {
    width: 35rem;
}

@media(min-width:50px) and (max-width:570px){
    .pizza-item{
        width: 100%;
    }
    .cart-main {
        width: 100%;
    }
}





/* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: absolute;
   

  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #000000;
    animation: l4 2.5s infinite;
  }
  .loader:after {
    animation-delay: -1.25s;
  }
  @keyframes l4 {
    0% {
      inset: 0 35px 35px 0;
    }
    12.5% {
      inset: 0 35px 0 0;
    }
    25% {
      inset: 35px 35px 0 0;
    }
    37.5% {
      inset: 35px 0 0 0;
    }
    50% {
      inset: 35px 0 0 35px;
    }
    62.5% {
      inset: 0 0 0 35px;
    }
    75% {
      inset: 0 0 35px 35px;
    }
    87.5% {
      inset: 0 0 35px 0;
    }
    100% {
      inset: 0 35px 35px 0;
    }
  }